<div>
  <form [formGroup]="nomadForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="col-12">
      <mat-select formControlName="regionSelect" required placeholder="Region">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{ region.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12" *ngIf="nomadJobs$ | async as nomadJobs">
      <mat-select formControlName="jobSelect" required placeholder="Jobs">
        <mat-option *ngFor="let job of nomadJobs" [value]="job">
          {{ job.ID }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12" *ngFor="let metadata of nomadMetadata$ | async">
      <input matInput [placeholder]="metadata.key" [formControlName]="metadata.key">
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="nomadForm.invalid" type="submit">Run</button>
  </form>
</div>
