<div class="container">
  <form class="needs-validation" [formGroup]="nomadForm" (ngSubmit)="onSubmit()">
    <label>
      Region
      <select formControlName="regionSelect" required>
        <option *ngFor="let reg of regions" [ngValue]="reg">{{ reg.name }}</option>
      </select>
    </label>
    <label *ngIf="nomadJobs">
      Jobs
      <select formControlName="jobSelect" required>
        <option *ngFor="let job of nomadJobs" [ngValue]="job">{{ job.ID }}</option>
      </select>
    </label>

    <label *ngFor="let metadata of metadataFields">
      {{ metadata.key }}
      <input type="text" [formControlName]="metadata.key">
    </label>

    <button [disabled]=nomadForm.invalid type="submit">Submit</button>
  </form>
</div>
